header.main {
  text-align: center;
  background-color: #feb236;
  background-image: url(/images/asfalt-dark.png);
  padding-top: 20px;
  width: 40%;
  height: 400px;
  margin: 1em;
};

header > div > h2 > span {
  font-weight: 500;
};

@media all and (max-width: 768px) {
  header.main {
    width: 100%;
    margin: 0;
  }
};