header.main {
  height: 400px;
  width: 100%;
  justify-items: center;
  justify-content: center;
  text-align: center;
  background-color: #feb236;
  background-image: url(/images/asfalt-dark.png);
  padding-top: 20px;
  margin-top: 120px;
}

header > div > h2 > span {
  font-weight: 500;
}