nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  margin: 0;
  padding: 1.5em;
  position: fixed;
  top: 0px;
  width: 100%;
}

span.nav-text {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
}

div.write-tweet {
  align-self: flex-end;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
}

i.fas {
display:flex;
flex-direction: column;
text-align: end;
color: red;
padding-right: 75px;
}