.new-tweet {
  border-radius: 5px;
  padding-top: 1px;
  background-color: #eeeeee;
  margin: 0 2em;
  align-items: center;
}

.new-tweet h2{
 margin: 10px;
 border-bottom: 1px solid #000;
}

form {
  padding: 10px;
  position: relative;
}

textarea {
  padding: 5px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

input {
  display: flex;
  padding: 5px;
}

button {
  background-color: #4056A1;
  color: #f4f1ec;
  font-family: 'Bungee', cursive;
}

output.counter {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 80%;
  padding: 10px;
  font-family: 'Bungee', cursive;
}