article.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:  #f4f1ec;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  padding: 0;
  margin: 0 2em;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 250px;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color:  #f4f1ec;
  background-image: none;
}

.tweet-header img {
  position: relative;
  top: 35%;
  transform: translateY(-50%)
}

.tweet-header .name {
  font-weight: lighter;
}

.tweet-container div {
  margin-bottom: 50px;
}

.tweet-container div p{
  display: flex;
  flex-direction: column;
  border-bottom: solid black;
  border-width: .1em;
  font-size: 1.3em;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 0;
  padding-bottom: 20px;
}

.user-tag {
  display:flex;
  flex-direction: column;
  text-align: end;
  flex-basis: 67%;
  padding-right: 30px;
  color: silver;
  font-weight: lighter;
  visibility: hidden;
}

.tweet-container footer {
  height: 5px;
  display: flex;
  justify-content: space-between;
}

.tweet-container footer p {
  font-size: .75em;
  position: absolute;
  left: 30px;
  bottom: 0;
}

.tweet-container footer span {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.tweet-container:hover .user-tag, footer, span {
  color: solid gray 2px;
  visibility: visible;
}

.hvr-box-shadow-outset {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}